{% extends "index.html" %}

{% block body %}

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">
            <div class="card text-center">
                <div class="card-body">
                  <h1 class="card-title">About</h1>
                </div>
              </div>
        </div>
        </div>
    <div class="row">
        <div class="col-6 col-md-6 col-lg-6 text-center">
            <p>
                Herbert Sr. and his wife, Dora Rizk, founded the famous Herbert's Taco Hut on May 19, 1976, which is located by the historic San Marcos River and near the heart of downtown San Marcos. Throughout many years of hard work and dedication to their family business, they generated a huge, successful customer base that thrives to this day. Herbert's Taco Hut has been awarded a very special "Key To The City" legacy award with its authentic secret recipes, Herbert's Taco Hut remains to hold the prestigious reputation of a fast and consistent dining experience in a family friendly atmosphere.
            </p>
        </div>
        <div class="col-6 col-md-6 col-lg-6 text-center">
            <p>
                To this day, patrons continue to travel back to our restaurant to revisit that nostalgic experience and enjoy some of the most amazing food in the world. Herbert's Taco Hut continues to be voted "Best in Hays County" for numerous years. We are very proud to be a part of the extensive history of the City of San Marcos, and we would love to thank all of our loyal patrons as well as our new

                patrons! Thank you very much as we appreciate your business!
                
            </p>
            <p>
                
                Anthony & Ruthy Rizk
            </p>
            <p> 
                (512) 392-2993
            </p>
        </div>
    </div>

{% endblock %}