{% extends "index.html" %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1>Contact</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p>
                419 Riverside Drive
            </p>
            <p>
                San Marcos, TX
            </p>
            <p>
                78666
            </p>
            <p>
                512-392-2993
            </p>
        </div>
    </div>
</div>
{% endblock %}